{% load static %}
<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Columbus</title>

    <!-- Bootstrap core CSS -->
    <link href={% static "bootstrap/css/bootstrap.min.css" %} rel="stylesheet">

    <!-- Custom styles for this template -->
    <style>
      body {
        padding-top: 54px;
      }
      @media (min-width: 992px) {
        body {
          padding-top: 56px;
        }
      }

    </style>

  </head>

  <body>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
        <a class="navbar-brand" href="/interface">Columbus</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

      </div>
    </nav>

    <!-- Page Content -->
    <div class="container">
    <br/>
        {% if error %}
            <div class="alert alert-danger" >
             {{ error }}
            </div>
        {% endif %}
        {% if success %}
            <div class="alert alert-success" >
             {{ success }}
            </div>
        {% endif %}
      <form name = "form" enctype = "multipart/form-data"
     action = "{% url "exec_command" %}" method = "POST" >
        {% csrf_token %}
        <div class="form-group">
          <label for="comment">Code:</label>
          <textarea class="form-control" name="code" rows="5" id="comment" required="required">{{ user_code }}</textarea>
        </div>
        <button type="submit" class="btn btn-primary">Run</button>
      </form>
        <br/>
        {% if result %}
            <div class="jumbotron" >
              <h1>output:</h1>
              <p>{{ result }}</p>
            </div>
        {% endif %}
    </div>


    <!-- Bootstrap core JavaScript -->
    <script src={% static "jquery/jquery.min.js" %}></script>
    <script src={% static "bootstrap/js/bootstrap.bundle.min.js" %}></script>

  </body>

</html>
